html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: normal;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 1025px+ (Desktops, large screens) */
@media only screen and (min-width: 1025px) {
    /* Header styling */

    #header-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #avatar-wrapper {
        margin: 15px;
    }

    #avatar-image {
        border: 3px solid #334455;
        border-radius: 100%;
        height: 100px;
    }

    #header h1 {
        font-size: 20px;
        font-weight: bold;
        color: #334455;
        padding: 35px 15px 15px 15px;
    }

    #header h2 {
        font-size: 18px;
        font-weight: bold;
        color: #111111;
        padding: 0 15px;
    }

    #quote-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: auto;
    }

    #quote-wrapper h2 {
        font-size: 16px;
        color: #aaaaaa;
    }

    #language-select-wrapper {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: start;
    }

    #top-menu-bar li {
        display: inline-block;
    }

    /* Container styling */

    #container {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    #side-menu {
        flex: 1;
        margin: 25px;
    }

    #upper-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 40px;
    }

    #upper-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #upper-side-menu label {
        font-size: 14px;
        color: #111111;
    }

    #upper-side-menu input[type="email"],
    input[type="text"] {
        padding: 10px;
        width: 100%;
        margin: 4px 0 10px 0;
        border-radius: 4px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
    }

    #upper-side-menu input[type="email"]:focus,
    input[type="text"]:focus {
        box-shadow: 0 0 10px #d3eafd;
        border: 1px solid #334455;
        outline: none;
    }

    #upper-side-menu button[type="submit"] {
        width: 100%;
        background-color: #334455;
        color: #d3eafd;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px;
    }

    #upper-side-menu button[type="submit"]:hover {
        color: #ffffff;
    }

    #lower-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #lower-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #lower-side-menu li {
        color: #334455;
        font-size: 14px;
    }

    #lower-side-menu li b {
        font-weight: bold;
    }

    #main-content {
        flex: 2;
        margin: 25px 25px 25px 0;
        display: flex;
        flex-direction: column;
    }

    .display-content {
        display: none;
        flex: 1;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 25px;
    }

    .display-content h2 {
        font-size: 18px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 15px;
    }

    .display-content h3 {
        font-size: 17px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 5px;
    }

    #skills ul li {
        list-style-type: square;
        margin-left: 15px;
        color: #334455;
    }

    li.important {
        font-weight: bold;
    }

    li.important .endorcements {
        color: rgb(41, 167, 41);
    }

    .endorcements {
        color: green;
    }

    .technology {
        color: gray;
    }

    .repository-type {
        color: #d60000;
    }

    #projects table {
        width: 100%;
        border-collapse: collapse;
        max-height: 20%;
    }

    #projects thead {
        background-color: #334455;
        color: #ffffff;
    }

    #projects thead td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #projects tbody td {
        border: 1px solid #cccccc;
        padding: 4px;
        text-align: center;
    }

    #projects a {
        color: #334455;
        font-weight: bold;
        text-decoration: none;
    }

    #projects a:hover {
        text-decoration: underline;
        color: #693092;
    }

    #projects tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    #languages table {
        width: 100%;
        border-collapse: collapse;
    }

    #languages thead {
        background-color: #334455;
        color: #ffffff;
    }

    #languages td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #languages tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    /* Footer styling */

    #footer {
        text-align: center;
        background-color: #334455;
    }

    #footer li {
        display: inline-block;
    }

    #footer li a {
        display: inline-block;
        color: #d3eafd;
        text-decoration: none;
        padding: 8px;
        margin: 2px 0;
        transition: 0.2s;
        border-radius: 2px;
    }

    #footer li a:hover {
        background-color: #d3eafd;
        color: #334455;
    }
}

/* 769px - 1024px (Small screens or small laptops) */
@media only screen and (max-width: 1024px) {
    /* Header styling */

    #header-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #avatar-wrapper {
        margin: 15px;
    }

    #avatar-image {
        border: 3px solid #334455;
        border-radius: 100%;
        height: 100px;
    }

    #header h1 {
        font-size: 20px;
        font-weight: bold;
        color: #334455;
        padding: 35px 15px 15px 15px;
    }

    #header h2 {
        font-size: 18px;
        font-weight: bold;
        color: #111111;
        padding: 0 15px;
    }

    #quote-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin-left: auto;
    }

    #quote-wrapper h2 {
        font-size: 16px;
        color: #aaaaaa;
        text-align: center;
    }

    #language-select-wrapper {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: start;
    }

    #top-menu-bar li {
        display: inline-block;
    }

    /* Container styling */

    #container {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    #side-menu {
        flex: 1;
        margin: 25px;
    }

    #upper-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 40px;
    }

    #upper-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #upper-side-menu label {
        font-size: 14px;
        color: #111111;
    }

    #upper-side-menu input[type="email"],
    input[type="text"] {
        padding: 10px;
        width: 100%;
        margin: 4px 0 10px 0;
        border-radius: 4px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
    }

    #upper-side-menu input[type="email"]:focus,
    input[type="text"]:focus {
        box-shadow: 0 0 10px #d3eafd;
        border: 1px solid #334455;
        outline: none;
    }

    #upper-side-menu button[type="submit"] {
        width: 100%;
        background-color: #334455;
        color: #d3eafd;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px;
    }

    #upper-side-menu button[type="submit"]:hover {
        color: #ffffff;
    }

    #lower-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #lower-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #lower-side-menu li {
        color: #334455;
        font-size: 14px;
    }

    #lower-side-menu li b {
        font-weight: bold;
    }

    #main-content {
        flex: 2;
        margin: 25px 25px 25px 0;
        display: flex;
        flex-direction: column;
    }

    .display-content {
        display: none;
        flex: 1;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 25px;
    }

    .display-content h2 {
        font-size: 18px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 15px;
    }

    .display-content h3 {
        font-size: 17px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 5px;
    }

    #skills ul li {
        list-style-type: square;
        margin-left: 15px;
        color: #334455;
    }

    li.important {
        font-weight: bold;
    }

    li.important .endorcements {
        color: rgb(41, 167, 41);
    }

    .endorcements {
        color: green;
    }

    .technology {
        color: gray;
    }

    .repository-type {
        color: #d60000;
    }

    #projects table {
        width: 100%;
        border-collapse: collapse;
        max-height: 20%;
    }

    #projects thead {
        background-color: #334455;
        color: #ffffff;
    }

    #projects thead td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #projects tbody td {
        border: 1px solid #cccccc;
        padding: 4px;
        text-align: center;
    }

    #projects a {
        color: #334455;
        font-weight: bold;
        text-decoration: none;
    }

    #projects a:hover {
        text-decoration: underline;
        color: #693092;
    }

    #projects tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    #languages table {
        width: 100%;
        border-collapse: collapse;
    }

    #languages thead {
        background-color: #334455;
        color: #ffffff;
    }

    #languages td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #languages tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    /* Footer styling */

    #footer {
        text-align: center;
        background-color: #334455;
    }

    #footer li {
        display: inline-block;
    }

    #footer li a {
        display: inline-block;
        color: #d3eafd;
        text-decoration: none;
        padding: 8px;
        margin: 2px 0;
        transition: 0.2s;
        border-radius: 2px;
    }

    #footer li a:hover {
        background-color: #d3eafd;
        color: #334455;
    }
}

/* 481px - 768px (iPads, Tablets) */
@media only screen and (max-width: 768px) {
    /* Header styling */

    #header-wrapper {
        display: block;
        width: 100%;
    }

    #avatar-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
    }

    #avatar-image {
        border: 3px solid #334455;
        border-radius: 100%;
        height: 300px;
    }

    #header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: #334455;
        padding: 15px 15px 15px 15px;
    }

    #header h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #111111;
        padding: 0 15px;
    }

    #quote-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        width: auto;
    }

    #quote-wrapper h2 {
        text-align: center;
        font-size: 14px;
        color: #aaaaaa;
    }

    #language-select-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        align-items: center;
    }

    #top-menu-bar li {
        display: inline-block;
    }

    /* Container styling */

    #container {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
    }

    #side-menu {
        margin: 25px;
    }

    #upper-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 40px;
    }

    #upper-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #upper-side-menu label {
        font-size: 14px;
        color: #111111;
    }

    #upper-side-menu input[type="email"],
    input[type="text"] {
        padding: 10px;
        width: 100%;
        margin: 4px 0 10px 0;
        border-radius: 4px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
    }

    #upper-side-menu input[type="email"]:focus,
    input[type="text"]:focus {
        box-shadow: 0 0 10px #d3eafd;
        border: 1px solid #334455;
        outline: none;
    }

    #upper-side-menu button[type="submit"] {
        width: 100%;
        background-color: #334455;
        color: #d3eafd;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px;
    }

    #upper-side-menu button[type="submit"]:hover {
        color: #ffffff;
    }

    #lower-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #lower-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #lower-side-menu li {
        color: #334455;
        font-size: 14px;
    }

    #lower-side-menu li b {
        font-weight: bold;
    }

    #main-content {
        margin: 25px;
        display: flex;
        flex-direction: column;
    }

    .display-content {
        display: none;
        flex: 1;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 25px;
    }

    .display-content h2 {
        font-size: 18px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 15px;
    }

    .display-content h3 {
        font-size: 17px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 5px;
    }

    #skills ul li {
        list-style-type: square;
        margin-left: 15px;
        color: #334455;
    }

    li.important {
        font-weight: bold;
    }

    li.important .endorcements {
        color: rgb(41, 167, 41);
    }

    .endorcements {
        color: green;
    }

    .technology {
        color: gray;
    }

    .repository-type {
        color: #d60000;
    }

    #projects table {
        width: 100%;
        border-collapse: collapse;
        max-height: 20%;
        font-size: 12px;
    }

    #projects thead {
        background-color: #334455;
        color: #ffffff;
    }

    #projects thead td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #projects tbody td {
        border: 1px solid #cccccc;
        padding: 4px;
        text-align: center;
    }

    #projects a {
        color: #334455;
        font-weight: bold;
        text-decoration: none;
    }

    #projects a:hover {
        text-decoration: underline;
        color: #693092;
    }

    #projects tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    #languages table {
        width: 100%;
        border-collapse: collapse;
    }

    #languages thead {
        background-color: #334455;
        color: #ffffff;
    }

    #languages td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #languages tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    /* Footer styling */

    #footer {
        text-align: center;
        background-color: #334455;
    }

    #footer li {
        display: inline-block;
    }

    #footer li a {
        display: inline-block;
        color: #d3eafd;
        text-decoration: none;
        padding: 8px;
        margin: 2px 0;
        transition: 0.2s;
        border-radius: 2px;
    }

    #footer li a:hover {
        background-color: #d3eafd;
        color: #334455;
    }
}

/* 320px - 480px (Mobile Devices) */
@media only screen and (max-width: 480px) {
    /* Header styling */

    #header-wrapper {
        display: block;
        width: 100%;
    }

    #avatar-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
    }

    #avatar-image {
        border: 3px solid #334455;
        border-radius: 100%;
        height: 250px;
    }

    #header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: #334455;
        padding: 15px 15px 15px 15px;
    }

    #header h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #111111;
        padding: 0 15px;
    }

    #quote-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        width: auto;
    }

    #quote-wrapper h2 {
        text-align: center;
        font-size: 14px;
        color: #aaaaaa;
    }

    #language-select-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        align-items: center;
    }

    #top-menu-bar li {
        display: flex;
        flex-direction: column;
    }

    /* Container styling */

    #container {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
    }

    #side-menu {
        margin: 25px;
    }

    #upper-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 40px;
    }

    #upper-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #upper-side-menu label {
        font-size: 14px;
        color: #111111;
    }

    #upper-side-menu input[type="email"],
    input[type="text"] {
        padding: 10px;
        width: 100%;
        margin: 4px 0 10px 0;
        border-radius: 4px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
    }

    #upper-side-menu input[type="email"]:focus,
    input[type="text"]:focus {
        box-shadow: 0 0 10px #d3eafd;
        border: 1px solid #334455;
        outline: none;
    }

    #upper-side-menu button[type="submit"] {
        width: 100%;
        background-color: #334455;
        color: #d3eafd;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px;
    }

    #upper-side-menu button[type="submit"]:hover {
        color: #ffffff;
    }

    #lower-side-menu {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #lower-side-menu h4 {
        color: #334455;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #lower-side-menu li {
        color: #334455;
        font-size: 14px;
    }

    #lower-side-menu li b {
        font-weight: bold;
    }

    #main-content {
        margin: 25px;
        display: flex;
        flex-direction: column;
    }

    .display-content {
        display: none;
        flex: 1;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 25px;
    }

    .display-content h2 {
        font-size: 18px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 15px;
    }

    .display-content h3 {
        font-size: 17px;
        font-weight: bold;
        color: #334455;
        margin-bottom: 5px;
    }

    #skills ul li {
        list-style-type: square;
        margin-left: 15px;
        color: #334455;
    }

    li.important {
        font-weight: bold;
    }

    li.important .endorcements {
        color: rgb(41, 167, 41);
    }

    .endorcements {
        color: green;
    }

    .technology {
        color: gray;
    }

    .repository-type {
        color: #d60000;
    }

    #projects table {
        width: 100%;
        border-collapse: collapse;
        max-height: 20%;
        font-size: 10px;
    }

    #projects thead {
        background-color: #334455;
        color: #ffffff;
    }

    #projects thead td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #projects tbody td {
        border: 1px solid #cccccc;
        padding: 4px;
        text-align: center;
    }

    #projects a {
        color: #334455;
        font-weight: bold;
        text-decoration: none;
    }

    #projects a:hover {
        text-decoration: underline;
        color: #693092;
    }

    #projects tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    #languages table {
        width: 100%;
        border-collapse: collapse;
    }

    #languages thead {
        background-color: #334455;
        color: #ffffff;
    }

    #languages td {
        border: 1px solid #cccccc;
        padding: 8px;
        text-align: center;
    }

    #languages tbody tr:nth-child(even) {
        background-color: #eeeeee;
    }

    /* Footer styling */

    #footer {
        text-align: center;
        background-color: #334455;
    }

    #footer li {
        display: inline-block;
    }

    #footer li a {
        display: inline-block;
        color: #d3eafd;
        text-decoration: none;
        padding: 8px;
        margin: 2px 0;
        transition: 0.2s;
        border-radius: 2px;
    }

    #footer li a:hover {
        background-color: #d3eafd;
        color: #334455;
    }
}

/* Document styling */

html {
    height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.margin-right-lg {
    margin-right: 8px;
}

.margin-right-md {
    margin-right: 4px;
}

.margin-right-sm {
    margin-right: 2px;
}

/* Header styling */

#header {
    /*background-image: url("/images/header-bg.jpg");*/
    background-color: white;
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.language-button-image {
    border-radius: 100%;
    border: 1px solid #000000;
}

#top-menu-bar {
    text-align: center;
    background-color: #334455;
    color: #ffffff;
}

#top-menu-bar button {
    display: inline-block;
    color: #d3eafd;
    background: none;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    margin: 2px 0;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
    border-radius: 2px;
}

#top-menu-bar button:hover {
    background-color: #d3eafd;
    color: #334455;
}

#top-menu-bar .active-button {
    background-color: #d3eafd;
    color: #334455;
}
